<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Add Product</h1>
    <form method="post">
        Product ID: <input type="text" name="product_id" required><br>
        Name: <input type="text" name="name" required><br>
        Quantity: <input type="number" name="quantity" min="0" required><br>
        <input type="submit" value="Add Product">
    </form>
    <br>
    <a href="/products"><button>Back to Products</button></a>
</body>
</html>
