<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Inventory Management System</h1>
    <ul>
        <li><a href="/products"><button style="width: 300px; height: 50px;">Products</button></a></li>
        <li><a href="/locations"><button style="width: 300px; height: 50px;">Locations</button></a></li>
        <li><a href="/movements"><button style="width: 300px; height: 50px;">Product Movements</button></a></li>
        <li><a href="/sell"><button style="width: 300px; height: 50px;">Sell Product</button></a></li>
        <li><a href="/report"><button style="width: 300px; height: 50px;">Movement Report</button></a></li>
        

    </ul>
</body>
</html>
