<!DOCTYPE html>
<html>
<head>
    <title>Locations</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Locations</h1>
    
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for l in locations %}
        <tr>
            <td>{{ l.location_id }}</td>
            <td>{{ l.name }}</td>
            <td><a href="/edit_location/{{ l.location_id }}"><button>Edit</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/add_location"><button>Add Location</button></a>
    <br><br>
    <a href="/"><button>Back to Home</button></a>
</body>
</html>
