<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Products</h1>
    
    <table border="1">
        <tr>
            <th>ID</th><th>Name</th><th>Quantity</th>
        </tr>
        {% for p in products %}
        <tr>
            <td>{{ p.product_id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.quantity }}</td>
            <td><a href="{{ url_for('update_product', product_id=p.product_id) }}"><button>Edit</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/add_product"><button>Add Product</button></a>
    <a href="/"><button>Back to Home</button></a>
</body>
</html>
